$font-logo: 'Poppins', sans-serif;
$color-logo:  #ffffff;
$color-button: #4085f6;
$font-first-content: 'Montserrat', sans-serif;
$color-btn-dark: #22233a;
$color-second-content: #5d5d5d;
$color-p-about:  #737373;
$color-background: #f8f6f6;
$color-blue: #226be2;



